# Ignore .err and .out files
*.err
*.out
*.gff
*.csv
*.pth
*.txt
*.png
# Ignore Genome/genome/ directory
Genome/genome/
Genome_annotation/prokka_GCF*
Pangenome_construct/Pangenome
DL_model/wandb
*.snakemake
